@font-face { font-family: Coconat; src: url('fonts/Coconat/Coconat-Regular.woff2'); }
@font-face { font-family: CoconatDemi; src: url('fonts/Coconat/Coconat-Demi.woff2'); }
@font-face { font-family: SourceSerif; src: url('fonts/SourceSerif4-Regular.otf.woff2'); }

body {
  font-family: 'SourceSerif', EB Garamond, Georgia, serif;
  color:rgb(41, 39, 38);
  background-color: #fffef8;
}

h1 {
  font-family: 'Coconat', san-serif;
  font-size: 82pt;
  color: #2a2a2a;
  line-height: 100%;
  padding: 50px 0 0 20px;
}
h2 {
  font-family: 'Coconat', sans-serif;
  font-size: 56pt;
  color: #494949;
  line-height: 30%;
  padding: 0 0 25px 40px;
}
h3 {
  font-family: 'CoconatDemi', sans-serif;
  font-size: 32px;
  color:#494949;
}

a {
  cursor: crosshair;
}
a:link, a:visited {
  color: #913626;
  text-decoration: underline;
}
a:hover {
  color: #93635b;
  text-decoration: none;
}
a:active {
  color: #d78c7e;
}

.about {
  padding: 30px 0 0 0;
  font-size: 18pt;
}

.work {
  padding: 0 0 20px 10px;
  font-size: 16pt;
}

.work-item {
  padding: 8px 0 0 10px;
}

a[href^="mailto:"]::before {
  content: "";
}
a[href^="mailto:"]:hover::after {
  content: " over email!";
}
